// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    p {
        @include f18;
    }

    // Header
    header {
        padding: 30px 60px;
    }

    nav {
        padding: 30px 60px 30px 50px;
        width: 50%;
    }

    // Hero
    .hero {
        padding: 50px 60px 0px 60px;
        height: calc(100vh - 92.84px);
        gap: 30px;

        h1 {
            font-size: 100px;
            line-height: 100px;
            margin-left: 60px;

            &:after {
                height: 200px;
                top: 0px;
                left: -30px;
            }
        }

        h2 {
            @include f20;
            margin-bottom: -30px;
        }

        button {
            left: 60px;
        }

        ul {
            @include f20;
        }

        ul:last-of-type {
            position: absolute;
            right: 60px;
            bottom: 50px;
        }
    }

    // Sec
    .sub-dec {
        @include f42;
        @include max700;
        margin-bottom: 30px;
    }

    .sec {
        padding: 50px 60px;

        p {
            @include max700;
        }
    }

    .carousel {
        padding: 0px;
        margin: 100px -60px 0px -60px;

        img {
            width: 100%;
            height: 360px;
        }
    }

    .sec-3 {
        position: relative;
        margin-top: 50px;
        padding-top: 100px;

        .sub-dec {
            @include subDecDelete;
            margin-bottom: 10px;
        }

        p {
            width: 500px;
            margin: 0px;
        }

        img {
            position: absolute;
            left: 50%;
            top: -50px;
            width: 340px;
            height: 340px;
        }
    }

    .sec-4, .sec-5 {
        .sub-dec {
            @include subDecDelete;
            margin-bottom: 30px;
        }

        .leerdoelen-pop-up {
            .sub-dec, h5, p{
                @include max700;
                margin: 0px auto;
            }

            button {
                margin-bottom: calc(50px - 20px);
            }
        }
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0px -60px;

        img {
            height: 250px;
        }

        .sub-dec {
            margin: 40px 30px 0px 30px;
        }

        a {
            padding-bottom: 70px;
        }
    }

    .sec-5 {
        padding-bottom: 100px;
    }

    // Werkzaamheden
    .hero-werk h1 {
        @include max700;
        left: 50%;
        transform: translateX(-50%)
    }

    .main-werkzaamheden {
        @include max700;

        img {
            height: 300px;
        }

        h2 {
            @include f24;
        }

        h3 {
            @include f20;
        }

        h4, ul {
            @include f18;
        }
    }

    // Footer
    footer {
        padding: 50px 60px 100px 60px;

        > ul:first-of-type {
            @include grid(200px 200px, 0px 100px);
        }

        section {
            margin: 40px -60px -100px -60px;

            ul {
                @include flex(row, 50px);
                justify-content: center;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}