
article {
    @include imgBorder;
}

.carousel {
    @include flex(row, 0px);
    overflow-x: auto;
    margin: 50px -20px 0px 0px;
    padding-right: 20px;

    img {
        @include imgBorder;
    }
}

.cards {
    @include grid(1fr 1fr, 0px);

    .sub-dec {
        @include f20;
        margin: 20px 10px 0px 10px;
    }

    img {
        height: 150px;
    }

    a, button {
        display: block;
        padding-bottom: 50px;
        color: $white;
    }

    button {
        @include buttonDeleteStyle;
        width: 100%;
    }
}

.leerdoelen-pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba($black, 0.5);
    z-index: 1;

    div {
        @include flex(column, 20px);
        height: 100%;
        padding: 20px;
        background-color: $white;
        color: $black;
    }

    .sub-dec {
        @include f24;
        margin-bottom: 0px;
    }

    button {
        @include buttonDeleteStyle;
        order: -1;
        width: fit-content;
        margin-left: auto;
    }

    .i {
        color: black;
    }

    h5 {
        @include f22;
        margin: 50px 0px -10px 0px;
    }

    .open {
        display: block;
    }
}
