.article-stagevaardigheden {
    padding: 20px;
    background-color: $black;
    color: $white;
    cursor: pointer;

    summary {
        transition: $trans4;
    }

    &:hover summary {
        color: $green;
    }

    section {
        margin: 20px -20px -20px -20px;
        padding: 20px 20px 30px 20px;
        background-color: $gray-light;
        color: $black;
    }

    .sub-dec {
        @include f20;
        margin-bottom: 0px;
    }

    img {
        width: 100%;
    }
}

.content {

    ul {
        @include f16;
        li {
            list-style: disc;
            margin-left: 20px;
        }
    }

}