.hero-werk {
    position: relative;
    height: 300px;

    img {
        width: 100%;
        height: 300px;
    }

    h1 {
        position: absolute;
        bottom: calc(50px - 30px);
        left: 20px;
        color: $white;
        z-index: 1;
    }
}

.main-stagevaardigheden {
    @include flex(column, 50px);
    padding: 50px 20px 100px 20px;

    .sub-dec {
        @include f24;
        margin-bottom: -40px;
    }

    > img {
        width: 100%;
        height: 200px;
    }

    p {
        margin-bottom: 10px;
    }

    > a {
        @include btn1;
        margin-top: calc(-50px + 30px);
    }

    h2 {
        @include f22;
        margin-top: 50px;

        &:first-of-type, &:last-of-type {
            margin: 0px;
        }

        &:last-of-type {
            margin-top: 30px;
        }
    }

    ul {
        @include f16;

        li {
            list-style: disc;
            margin-left: 20px;

            div {
                &:before {
                    content: "- ";
                }
            }
        }
    }

    ol {
        @include f16;
        counter-reset: item;
        list-style-type: none;


        li {
            &::before {
                @include f16;
                content: counter(item) ".";
                counter-increment: item;
                margin-right: 10px;
            }

            div {
                &:before {
                    content: "- ";
                    margin-left: 20px;
                }
            }
        }
        
    }
}