.article-stagevaardigheden {
    padding: 20px;
    background-color: $black;
    color: $white;

    section {
        margin: 20px -20px -20px -20px;
        padding: 20px 20px 30px 20px;
        background-color: $gray-light;
        color: $black;
    }

    .sub-dec {
        @include f20;
        margin-bottom: 0px;
    }

    img {
        width: 100%;
    }

    summary {
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
}

.content {
    margin-top: 20px;

    ul {
        @include f16;
        li {
            list-style: disc;
            margin-left: 20px;
        }
    }

}