$font-stack: 'Open Sans', sans-serif;

$openSans: 'Open Sans', sans-serif;
$merriWeather: 'Merriweather', serif;

$green: #00FF42;
$black: #1A1A1A;
$white: #fff;

$trans4: .4s;

@mixin f18 {
    font-size: 18px;
    line-height: 31px;
}

@mixin f20 {
    font-size: 20px;
    line-height: 30px;
}

@mixin f26 {
    font-size: 26px;
    line-height: 30px;
}

@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}