$font-stack: 'Open Sans', sans-serif;

$openSans: 'Open Sans', sans-serif;
$merriWeather: 'Merriweather', serif;

$green: #00FF42;
$black: #1A1A1A;
$white: #fff;

$trans4: .4s;

@mixin f16 {
    font-size: 16px;
    line-height: 28px;
}

@mixin f18 {
    font-size: 18px;
    line-height: 31px;
}

@mixin f20 {
    font-size: 20px;
    line-height: 30px;
}

@mixin f22 {
    font-size: 22px;
    line-height: 36px;
}

@mixin f24 {
    font-size: 24px;
    line-height: 40px;
}

@mixin f26 {
    font-size: 26px;
    line-height: 30px;
}

@mixin f34 {
    font-size: 34px;
    line-height: 37px;
}

@mixin f42 {
    font-size: 42px;
    line-height: 50px;
}

@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($clmn, $gap) {
    display: grid;
    grid-template-columns: $clmn;
    gap: $gap;
}

@mixin max700 {
    width: 700px;
    margin: auto;
}

@mixin imgBorder {
    border-radius: 10px;
    border: 1px solid $white;
}

@mixin bgBlack {
    background-color: $black;
    color: $white;
}

@mixin subDecDelete {
    width: fit-content;
    margin: 0px;
}

@mixin buttonDeleteStyle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin btn1 {
    @include f18;
    position: relative;
    padding-left: calc(50px + 15px);
    width: fit-content;
    background: none;
    border: none;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-image: url(../../public/img/play.svg);
        background-size: contain;
    }
}