.hero-werk {
    position: relative;
    height: 300px;

    img {
        width: 100%;
        height: 300px;
    }

    h1 {
        position: absolute;
        bottom: calc(50px - 30px);
        left: 20px;
        color: $white;
        z-index: 1;
    }
}

.main-werkzaamheden {
    padding: 50px 20px;

    img {
        width: 100%;
    }

    button {
        @include btn1;
    }
}