.hero-werk {
    position: relative;
    height: 300px;

    img {
        width: 100%;
        height: 300px;
    }

    h1 {
        position: absolute;
        bottom: calc(50px - 30px);
        left: 20px;
        color: $white;
        z-index: 1;
    }
}

.content {
    img {
        width: 100%;
        height: 200px;
        margin: 10px 0px;
        object-fit: cover;
        transition: $trans4;

        &:hover {
            transform: scale(1.05)
        }
    }
}

.main-werkzaamheden {
    @include flex(column, 50px);
    padding: 50px 20px 100px 20px;

    img {
        width: 100%;
        height: 200px;
    }

    p {
        margin-bottom: 10px;
    }

    > a {
        @include btn1;
        margin-top: calc(-50px + 30px);
    }

    h2 {
        @include f22;
        margin-top: 50px;

        &:first-of-type, &:last-of-type {
            margin: 0px;
        }

        &:last-of-type {
            margin-top: 30px;
        }
    }

    h3 {
        @include f18;
        margin: 40px 0px 0px 0px;
        position: relative;

        &::before {
            content: "";
            border-bottom: 1px solid $gray;
            width: 100%;
            position: absolute;
            top: -20px;
        }

        &:first-of-type {
            margin: 0px;
            margin-top: 30px;
        }
    }

    h4 {
        @include f16;
        margin-top: 10px;
    }

    ul {
        @include f16;

        li {
            list-style: disc;
            margin-left: 20px;

            div {
                &:before {
                    content: "- ";
                }
            }
        }
    }

    ol {
        @include f16;
        counter-reset: item;
        list-style-type: none;


        li {
            &::before {
                @include f16;
                content: counter(item) ".";
                counter-increment: item;
                margin-right: 10px;
            }

            div {
                &:before {
                    content: "- ";
                    margin-left: 20px;
                }
            }
        }
        
    }
}