@import "./_variables";
@import "./_breakpoints";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $openSans;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $trans4;

    &:hover {
        color: $green;
    }
}

.i {
    height: 30px;
    color: $green;
}

.open {
    display: block;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $black;
    border-bottom: 1px solid $white;

    button {
        border: none;
        background-color: transparent;
    }
}

nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    background-color: $black;
    z-index: 1;
    padding: 20px 20px 30px 30px;

    a {
        color: $white;
    }

    button {
        display: flex;
        margin-left: auto;
        background-color: transparent;
        border: none;
    }

    ul {
        @include f26;
        margin-top: 30px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 70px;
    }
}

.hero {
    @include flex(column, 50px);
    height: calc(100vh - 71px);
    padding: 20px;
    background-image: url(../../public/img/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    font-family: $merriWeather;
    font-style: italic;

    h1 {
        @include flex(column, 0px);
        position: relative;
        margin-left: 30px;
        font-size: 67px;
        line-height: 70px;
        text-transform: uppercase;
        font-family: $openSans;
        font-style: normal;

        &:after {
            border-left: 4px solid $green;
            content: "";
            height: 120px;
            position: absolute;
            left: -20px;
            top: 10px;
            transform: rotate(24deg);
        }
    }

    h2 {
        @include f18;
        margin-bottom: -50px;
    }

    ul {
        @include f18;
    }

    button {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: fit-content;
        border: none;
        background-color: transparent;
    }
}