@import "./_variables";
@import "./_header";
@import "./hero";
@import "./sections";
@import "./functions";
@import "./werkzaamheden";
@import "./footer";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $openSans;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $trans4;

    &:hover {
        color: $green;
    }
}

p {
    @include f16;
}

img {
    object-fit: cover;
}

.i {
    height: 30px;
    color: $green;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.7);
}

// JS
.open {
    display: block;
}

.closed {
    display: none;
}

@import "./_breakpoints";